<%= tag.div class: 'text-center mt-4' do %>
  <% @note.errors.full_messages.each do |message| %>
    <%= tag.li message, class: 'text-danger' %>
  <% end %>
  <%= tag.li flash[:message], class: 'text-success' %>
  <%= tag.h3 @task.name, class: 'mt-4' %><br />
  <%= @task.description %><br />
  Created by: <%= @task.creator_user_name %><br />
  Assigned to: <%= @task.assigned_user_name %><br />
  Status: <%= @task.status %><br />
  <%= tag.ul class: "nav nav-pills justify-content-center" do %>

    <%= display_completion_links(@task.group, @task) %>

    <%= tag.li class: "nav-item dropdown" do %>
      <%= tag.a class: "nav-link dropdown-toggle", data: { toggle: "dropdown"}, href: new_task_note_path(@task), role: "button", aria: { haspopup: true, expanded: false } do %>
        Add Note
      <% end %>
      <%= tag.div class: "dropdown-menu" do %>
        <%= form_for([@task, @note], html: { class: 'form-group' }) do |f| %>
            Content: <%= f.text_area :content, class: 'form-control' %>
            <%=f.submit 'Create Note' %>
        <% end %>
      <% end %>
    <% end %>

    <% if current_user.is_admin?(@group) || @task.created_by == current_user %>
      <%= tag.li class: "nav-item dropdown" do %>
        <%= tag.a class: "nav-link dropdown-toggle px-2", data: { toggle: "dropdown" }, href: edit_task_path(@task), role: "button", aria: { haspopup: "true", expanded: false } do %>Edit Task<% end %>
        <%= tag.div class: "dropdown-menu" do %>
          <%= form_for([@group, @task], html: { class: 'form-group' }) do |f| %>
            <%= tag.div class: 'form-group' do %>
              Name: <%= f.text_field :name, class: 'form-control' %>
            <% end %>
            <%= tag.div class: 'form-group' do %>
              Description: <%= f.text_area :description, class: 'form-control' %>
            <% end %>
            <%= tag.div class: 'form-group' do %>
              Assign to (optional): <%= f.collection_select(:assigned_to_id, @group.users, :id, :name, include_blank: true, html_options: { class: 'form-control'}) %>
            <% end %>
            <%=f.submit 'Update' %>
          <% end %>
        <% end %>
      <% end %>
      <%= tag.li class: "nav-item" do %>
        <%= link_to 'Delete Task', task_path(@task), method: 'delete', class: 'nav-link' %>
      <% end %>
    <% end %>

  <% end %> <%# end of nav bar %>

  <%= tag.div class: 'row justify-content-center mt-4' do %>
    <%= tag.div class: 'col-8' do %>
      <% @notes.each do |note| %>
        <% if note.created_at %>
          <%= tag.div class: 'border rounded mt-2' do %>
            <%= tag.p note.content, class: 'mt-4 mb-0' %>
            <%= tag.small do %>
              <%= note.user.name %> @ <%= note.created_at.strftime('%B, %d, %Y') %>
            <% end %>
            <% if current_user == note.user %>
              <ul class='nav nav-pills justify-content-center'>
                <li class="nav-item dropdown justify-content-center">
                  <%= tag.a class: "nav-link dropdown-toggle", data: { toggle: "dropdown"}, href: edit_task_note_path(@task, note), role: "button", aria: { haspopup: true, expanded: false } do %>
                    Edit Note
                  <% end %>
                  <div class="dropdown-menu">
                    <%= form_for([@task, note], html: { class: 'form-group' }) do |f| %>
                        Content: <%= f.text_area :content, class: 'form-control' %>
                        <%=f.submit 'Update Note' %>
                    <% end %>
                  </div>
                </li>
                <li class='nav item'>
                  <%= link_to 'Delete Note', task_note_path(@task, note), method: 'delete', class: 'nav-link' %>
                </li>
              </ul>
            <% end %>

          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

<% end %>
