<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="<%= new_group_task_path(group) %>" role="button" aria-haspopup="true" aria-expanded="false"><%= dropdown_name %></a>
  <div class="dropdown-menu">
    <%= form_for([group, task], html: { class: 'form-group' }) do |f| %>
      <% content_tag(:div, class: 'form-group') %>
        Name: <%= f.text_field :name, class: 'form-control' %>
      <% content_tag(:div, class: 'form-group') %>
        Description: <%= f.text_area :description, class: 'form-control' %>
      <% content_tag(:div, class: 'form-group') %>
        Assign to (optional): <%= f.collection_select(:assigned_to_id, members, :id, :email, include_blank: true, html_options: { class: 'form-control'}) %>
      <%=f.submit button_name %>
    <% end %>
  </div>
</li>
