<div class='mt-5 text-center'>
  <%= content_tag(:h1, @user.name) %><br />
  <div class='row justify-content-center mt-n4 mb-3'>
    <div class="btn-toolbar">
      <div class="btn-group mr-2">
        <%= button_to 'Edit', edit_user_path(@user), class: 'btn btn-primary', method: :get %>
      </div>
      <div class="btn-group">
        <%= button_to 'Delete Account', user_path(@user), method: 'delete', class: 'btn btn-danger'%>
      </div>
    </div>
  </div>
  <%= display_avatar(@user, "large") %><br />

  <% @invitations.each do |invitation| %>
    You're have been invited to: <%= invitation.group.name %><br />
    Sent By: <%= invitation.sender.name %><br />

    <%= form_for invitation, method: :delete do |f| %>
      <%= f.hidden_field :accept, value: 'true' %>
      <%= f.submit 'Accept'%>
    <% end %>

    <%= form_for invitation, method: :delete do |f| %>
      <%= f.submit 'Decline'%><br />
    <% end %>

  <% end %>

  <% @groups.each do |group| %>
    <%= link_to group.name, group_path(group) %>
  <% end %>
</div>
