
<div>
Invitations:
<% @invitations.each do |invitation| %>
  <div>
    You have been invited to: <%= invitation.group.name %><br />
    Sent By: <%= invitation.sender.name %><br />

    <%= form_for invitation, method: :delete do |f| %>
      <%= f.hidden_field :accept, value: 'true' %>
      <%= f.submit 'Accept'%>
    <% end %>

    <%= form_for invitation, method: :delete do |f| %>
      <%= f.submit 'Decline'%><br />
    <% end %>
  </div>
<% end %>

</div>

Announcements:
<div>
</div>

Groups:
<%= link_to "View all groups", user_groups_path(current_user) %>
<div>
  <% @groups.each do |group| %>
    <div>
      <%= link_to group.name, group_path(group) %>
    </div>
  <% end %>
<div>

Assigned Tasks:
<div>
</div>
