<ul class="mt-3 nav nav-pills justify-content-center">
  <% if logged_in? %>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="<%= user_path(current_user) %>" role="button" aria-haspopup="true" aria-expanded="false">My Profile</a>
      <div class="dropdown-menu">
        <%= link_to 'Edit', edit_user_path(current_user), class: 'dropdown-item' %>
        <%= link_to 'Delete Account', user_path(current_user), method: 'delete', class: 'dropdown-item' %>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= new_group_path %>">Create Group</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= logout_path %>">Log Out</a>
    </li>
  <% else %>
    <li class="nav-item">
      <a class="nav-link" href="<%= new_user_path %>">Sign Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= login_path %>">Log In</a>
    </li>
  <% end %>
</ul>
